body {
    background: linear-gradient(135deg, #dbc3bd, #d1c8c1, #b1aef0);
    display: flex;
    flex-direction: column;
    margin: 6px;
}

#create-article-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

#create-article-form button {
    margin: 15px 5px;
    border-radius: 3px;
    border: 1px solid;
    font-size:medium;
    cursor: pointer;

}

#create-article-form input {
    margin: 15px 5px;
    border-radius: 3px;
}

a {
    color: black;
    text-decoration: none;
}

.pic{
    display: flex;
}



.pic {
    margin: 10px 0;
}

.file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 4px;
    position: relative;
}

.file-upload input[type="file"] {
    display: none;
}

.file-info {
    margin-top: 5px;
    color: #666;
}
